In [5]:
def hoop_woods(amino_acid):
    scale_dict = {'A': 1.0, 'R': -3.0, 'N': -3.0, 'D': -3.0, 'C': 2.0, 'Q': -3.0, 'E': -3.0, 'G': 0.0, 'H': -3.0, 'I': 1.0, 'L': 1.0, 'K': -3.0, 'M': 1.0, 'F': 1.0, 'P': -1.0, 'S': -2.0, 'T': -2.0, 'W': 1.0, 'Y': 0.0, 'V': 1.0}
    return scale_dict.get(amino_acid, 0.0)

def emini(amino_acid):
    scale_dict = {'A': 0.92, 'R': 1.02, 'N': 0.92, 'D': 0.92, 'C': 1.19, 'Q': 0.92, 'E': 0.92, 'G': 0.74, 'H': 0.92, 'I': 1.02, 'L': 1.02, 'K': 0.92, 'M': 1.02, 'F': 1.02, 'P': 0.92, 'S': 0.92, 'T': 0.92, 'W': 1.02, 'Y': 1.02, 'V': 1.02}
    return scale_dict.get(amino_acid, 0.0)

def parker(amino_acid):
    scale_dict = {'A': 1.53, 'R': -1.36, 'N': -0.12, 'D': -0.92, 'C': 1.47, 'Q': -0.71, 'E': -0.63, 'G': 0.74, 'H': -0.4, 'I': 1.61, 'L': 1.3, 'K': -1.62, 'M': 1.18, 'F': 1.38, 'P': 0.32, 'S': -0.25, 'T': -0.18, 'W': 1.37, 'Y': 0.96, 'V': 1.24}
    return scale_dict.get(amino_acid, 0.0)

def levitt(amino_acid):
    scale_dict = {'A': 1.23, 'R': 0.79, 'N': 0.68, 'D': 0.89, 'C': 0.71, 'Q': 0.97, 'E': 0.97, 'G': 1.15, 'H': 0.97, 'I': 1.18, 'L': 1.21, 'K': 0.73, 'M': 1.45, 'F': 1.13, 'P': 1.22, 'S': 0.79, 'T': 0.82, 'W': 1.08, 'Y': 1.09, 'V': 1.30}
    return scale_dict.get(amino_acid, 0.0)

In [2]:
def generate_kmers(kata, k):
    kmers = []
    n = len(kata)

    # Periksa apakah nilai k valid
    if k <= 0 or k > n:
        return kmers

    # Generate k-mer
    for i in range(n - k + 1):
        kmers.append(kata[i:i+k])

    return kmers

In [12]:
def amino_epitop(amino,start,con,k):
    if con == 'E':
        epitop = ['E'*k] * len(amino)
    elif con == '.':
        epitop = ['.'*k] * len(amino)
    step = [start+(i*k) for i in range(0,len(amino))]
    return amino, epitop, step

In [15]:
kata = "CATACAT"
k = 4
hasil = generate_kmers(kata, k)

print("Kata:", kata)
print("k:", k)
print("Hasil k-mer:", hasil)
print(f"amino_epitop : {amino_epitop(hasil,10,'E',k)}")

Kata: CATACAT
k: 4
Hasil k-mer: ['CATA', 'ATAC', 'TACA', 'ACAT']
amino_epitop : (['CATA', 'ATAC', 'TACA', 'ACAT'], ['EEEE', 'EEEE', 'EEEE', 'EEEE'], [10, 14, 18, 22])

In [16]:
import pandas as pd

df = pd.read_csv('dataset_type_1.csv')

In [19]:
df

,Epitope - Starting Position,Epitope - Ending Position,Epitope - Name,label,actual
0,1175.0,1190.0,SVVNIQKEIDRLNEVA,E,EEEEEEEEEEEEEEEE
1,61.0,76.0,CVDEAGSKSPIQYIDI,E,EEEEEEEEEEEEEEEE
2,631.0,652.0,PTWRVYSTGSNVFQTRAGCLIG,E,EEEEEEEEEEEEEEEEEEEEEE
3,1.0,16.0,MFVFLVLLPLVSSQCV,.,................
4,6458.0,6472.0,AFNVVNKGHFDGQQG,E,EEEEEEEEEEEEEEE
...,...,...,...,...,...
22237,6285.0,6300.0,AYKIEELFYSYATHSD,.,................
22238,2762.0,2776.0,GGKIVNNWLKQLIKV,.,...............
22239,234.0,263.0,NITRFQTLLALHRSYLTPGDSSSGWTAGAA,.,..............................
22240,5816.0,5830.0,QIGVVREFLTRNPAW,.,...............
22241,867.0,882.0,DEMIAQYTSALLAGTI,.,................

In [21]:
for k in range(3):
    print(k)

0
1
2

In [22]:
from itertools import chain

def flatten(arr):
    return list(chain.from_iterable(arr))

In [26]:
k = 2
ami1 = []
ami2 = []
position = []
label = []

for i in range(len(df)):
    ami = generate_kmers(df['Epitope - Name'][i],k)
    amino, lab, pos = amino_epitop(ami,int(df['Epitope - Starting Position'][i]),df['label'][i],k)
    for j in range(len(amino)):
        ami1.append(amino[j][0])
        ami2.append(amino[j][1])
    position.append(pos)
    label.append(lab)

In [31]:
print(len(ami1),len(ami2),len(flatten(position)),len(flatten(label)))

323086 323086 323086 323086

In [32]:
df_res2 = pd.DataFrame()
df_res2['amino 1'] = ami1
df_res2['amino 2'] = ami2
df_res2['Position'] = flatten(position)
df_res2['label'] = flatten(label)
df_res2['k'] = 2

In [33]:
df_res2

       amino 1 amino 2  Position label  k
0            S       V      1175    EE  2
1            V       V      1177    EE  2
2            V       N      1179    EE  2
3            N       I      1181    EE  2
4            I       Q      1183    EE  2
...        ...     ...       ...   ... ..
323081       L       L       887    ..  2
323082       L       A       889    ..  2
323083       A       G       891    ..  2
323084       G       T       893    ..  2
323085       T       I       895    ..  2

[323086 rows x 5 columns]

In [34]:
df_res2['hoop_woods 1'] = [hoop_woods(df_res2['amino 1'][i]) for i in range(len(df_res2))]
df_res2['emini 1'] = [emini(df_res2['amino 1'][i]) for i in range(len(df_res2))]
df_res2['parker 1'] = [parker(df_res2['amino 1'][i]) for i in range(len(df_res2))]
df_res2['levitt 1'] = [levitt(df_res2['amino 1'][i]) for i in range(len(df_res2))]
df_res2['hoop_woods 2'] = [hoop_woods(df_res2['amino 2'][i]) for i in range(len(df_res2))]
df_res2['emini 2'] = [emini(df_res2['amino 2'][i]) for i in range(len(df_res2))]
df_res2['parker 2'] = [parker(df_res2['amino 2'][i]) for i in range(len(df_res2))]
df_res2['levitt 2'] = [levitt(df_res2['amino 2'][i]) for i in range(len(df_res2))]

In [37]:
df_res2.to_csv('dataset_type_2_char2.csv',index=False)

In [1]:
from Bio.Seq import Seq

def hoop_woods(amino_acids):
    scale_dict = {'A': 1.0, 'R': -3.0, 'N': -3.0, 'D': -3.0, 'C': 2.0, 'Q': -3.0, 'E': -3.0, 'G': 0.0, 'H': -3.0, 'I': 1.0, 'L': 1.0, 'K': -3.0, 'M': 1.0, 'F': 1.0, 'P': -1.0, 'S': -2.0, 'T': -2.0, 'W': 1.0, 'Y': 0.0, 'V': 1.0}
    total_scale = 0.0
    for amino_acid in amino_acids:
        total_scale += scale_dict.get(amino_acid, 0.0)
    return total_scale

def emini(amino_acids):
    scale_dict = {'A': 0.92, 'R': 1.02, 'N': 0.92, 'D': 0.92, 'C': 1.19, 'Q': 0.92, 'E': 0.92, 'G': 0.74, 'H': 0.92, 'I': 1.02, 'L': 1.02, 'K': 0.92, 'M': 1.02, 'F': 1.02, 'P': 0.92, 'S': 0.92, 'T': 0.92, 'W': 1.02, 'Y': 1.02, 'V': 1.02}
    total_scale = 0.0
    for amino_acid in amino_acids:
        total_scale += scale_dict.get(amino_acid, 0.0)
    return total_scale

def parker(amino_acids):
    scale_dict = {'A': 1.53, 'R': -1.36, 'N': -0.12, 'D': -0.92, 'C': 1.47, 'Q': -0.71, 'E': -0.63, 'G': 0.74, 'H': -0.4, 'I': 1.61, 'L': 1.3, 'K': -1.62, 'M': 1.18, 'F': 1.38, 'P': 0.32, 'S': -0.25, 'T': -0.18, 'W': 1.37, 'Y': 0.96, 'V': 1.24}
    total_scale = 0.0
    for amino_acid in amino_acids:
        total_scale += scale_dict.get(amino_acid, 0.0)
    return total_scale

def levitt(amino_acids):
    scale_dict = {'A': 1.23, 'R': 0.79, 'N': 0.68, 'D': 0.89, 'C': 0.71, 'Q': 0.97, 'E': 0.97, 'G': 1.15, 'H': 0.97, 'I': 1.18, 'L': 1.21, 'K': 0.73, 'M': 1.45, 'F': 1.13, 'P': 1.22, 'S': 0.79, 'T': 0.82, 'W': 1.08, 'Y': 1.09, 'V': 1.30}
    total_scale = 0.0
    for amino_acid in amino_acids:
        total_scale += scale_dict.get(amino_acid, 0.0)
    return total_scale

In [2]:
import pandas as pd

df_char2 = pd.read_csv('dataset_type_2_char2.csv')

In [3]:
prop = ['hoop_woods','emini','parker','levitt']
for i in range(len(prop)):
    df_char2[prop[i]] = 0.0

In [4]:
df_char2['amino'] = [str(df_char2['amino 1'][i])+str(df_char2['amino 1'][i]) for i in range(len(df_char2))]

In [5]:
df_char2['hoop_woods'] = [hoop_woods(df_char2['amino'][i]) for i in range(len(df_char2))]
df_char2['emini'] = [emini(df_char2['amino'][i]) for i in range(len(df_char2))]
df_char2['parker'] = [parker(df_char2['amino'][i]) for i in range(len(df_char2))]
df_char2['levitt'] = [levitt(df_char2['amino'][i]) for i in range(len(df_char2))]

In [7]:
df_char2.to_csv('dataset_type_2_char2_vers2.csv',index=False)